body{
  margin: 0 auto;
  background-color: honeydew;
  width: 1200px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


article {
  float: left;
  margin-right: 150px;
  
}

article:nth-child(3){
  margin: 0px;
}

article {
  margin-bottom: 50px;
}