body {
  background-color: deepskyblue;
  width: 1600px;
  /* centers our body content  */
  margin: 0 auto;
}

header {
  height: 150px;
  background-color: #3086b8;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-family: cursive;
  padding-top: 25px;
}
div {
  margin-top: 45px;
  padding: 15px;
}

img {
  height: 250px;
  width: 250px;
}
/* button {
  padding: 20px;
  margin-bottom: 15px;
} */
.flexFloat {
  /* display: inline; */
  display: flex;
}


